<h3> Let's see just how much you know about Harry Potter. Try to pass this exam!</h3>

<%= form_tag('/reverse/validate') do -%>

  <%@options.each_with_index do |val,index|%>

  <fieldset class="form-group">
    <legend><%= index+1%>) Which of the following is a reversed spell?</legend>

    <% val.each do |option| %>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="<%= index%>)" value="<%= option %>" checked>
       <%= option %>
      </label>
    </div>
    <% end %>
  </fieldset>
  <% end%>


  <button type="submit" class="btn btn-primary">Submit</button>
<% end -%>
